.DS_Store
dist/electron/*
static/natives/*
!static/natives/.gitkeep
static/tmp/*
!static/tmp/.gitkeep
!dist/electron/.gitkeep
dist/web/*
build/*
!build/icons
!build/assets
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
.idea/
playground/
dist/
static/native_modules/
static/bin/
static/workers/**
.vscode
logs/
rigs/*
rigs_dev/*
!rigs/.gitkeep
!rigs_dev/.gitkeep
play.js
yarn-error.log
